@model KomPas.Models.Pas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spol" class="control-label"></label>
                <select asp-for="Spol" class="form-control"></select>
                <span asp-validation-for="Spol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rasa" class="control-label"></label>
                <input asp-for="Rasa" class="form-control" />
                <span asp-validation-for="Rasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tezina" class="control-label"></label>
                <input asp-for="Tezina" class="form-control" />
                <span asp-validation-for="Tezina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZdravstveniProblem" class="control-label"></label>
                <input asp-for="ZdravstveniProblem" class="form-control" />
                <span asp-validation-for="ZdravstveniProblem" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="KastriranSterilisan" /> @Html.DisplayNameFor(model => model.KastriranSterilisan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Slika" class="control-label"></label>
                <input asp-for="Slika" class="form-control" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
