################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kompas/.vs/Kompas/DesignTimeBuild/.dtbcache.v2
